$blue1: #6aade9;

$primary: $blue1;
$secondary: "orange";
$biege-1: #cc9999;

$background-primary: #333333;
$background-secondary: #22242a;
$background-highlight1: #333333;

$text-primary: #6aade9;
$text-secondary: #cc9999;
$text-white: white;

$text-grey: grey;
$color-grey: grey;

$highlight-blue: #6aade9;

$hue1: #cc9999;
$warning-1: $biege-1;
$info: $primary;

$highlight-1: $blue1;
