$primary: "blue";
$secondary: "orange";

$background-primary: #333333;
$background-secondary: #22242a;
$text-primary: #6aade9;
$text-secondary: #cc9999;
$text-white: white;

$text-grey: grey;
$color-grey: grey;
