@import "variables";

body {
  background-color: $background-primary;
  color: $text-primary;
}

.container {
  text-align: center;
}
.ascii {
  font-family: monospace;
  white-space: pre;
}

.filled {
  width: "100%";
  display: inline-block;
}

.hidden {
  display: none;
}

.footer {
  position: fixed;
  padding: 0px;
  margin: 0px;
  bottom: 0%;
  width: 100%;
  background-color: $background-secondary;
  color: $text-primary;
}

.buffer {
  height: 300px;
}

.color-primary {
  background-color: $background-primary;
}

.color-secondary {
  background-color: $background-secondary;
}

.text_center {
  text-align: center;
  align: center;
}

.padded-text {
  padding: 2px;
  padding-left: 10px;
}

.float-right {
  float: right;
  text-align: right;
}

.float-left {
  float: left;
}
