@import "variables";

body {
  background-color: $background-primary;
  color: $text-primary;
}

.secondary {
  color: "orange";
  background-color: "white";
}

.container {
  text-align: center;
}
.ascii {
  font-family: monospace;
  white-space: pre;
}

.filled {
  width: "500px";
  height: "100%";
}

.hidden {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: white;
  color: black;
}

.buffer {
  height: 300px;
}
