<button type="button" onclick="toggleHelpModal()" class="btn btn-link btn-block px-md-3 position-absolute top-0 end-0 no-decorate" data-bs-toggle="modal" data-bs-target="#helpModal">
    Help
</button>

<div class="modal" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="Help Dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center align-center" id="helpModalTitle">Shortcuts</h5>
            </div>
            <div class="modal-body">
                <b>b</b> Open Buffer
                <br>
                <b>h</b> Open Help
                <br>
                <b>m</b> Go Home
                <br>
                <b>p</b> Go To Posts
                <br>
                <b>t</b> Go To Tags
                <br>
                <b>k</b> Up
                <br>
                <b>j</b> Down
                <br>
                <b>l</b> Left
                <br>
                <b>h</b> Right
                <br>
                <b>Enter</b> Select
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="toggleHelpModal()">Close</button>
            </div>
        </div>
    </div>
</div>
