{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center container">
    <div class="col-xs-12" style="height:150px;"></div>
    <div class="ascii">__.---.-..-----..--|  |.-----..----.
|  _  ||     ||  _  ||  _  ||   _|
|___._||__|__||_____||_____||__|
    </div>
    {{ .Site.Title }}
    <!-- <h4 class="title">{{ .Site.Title }}</h4> -->
    <!-- <h1 class="title">{{ .Site.Title }}</h1> -->
    <div class="container">
        {{ range .Site.Menus.main }}
        <div class="row justify-content-md-center">
            <div class="col col-md-auto color-primary" >
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ if .Pre }}
                    {{ $text := print .Name | safeHTML }}
                <a href="{{ .URL }}"><span class="btn  text-p clickable-row" style="text-align:left; padding-left:6px; width:300px;"> {{ $text }} </span></a>
                {{ end }}
              </div>
          </div>
        {{ end }}
          <div class="row justify-content-md-center">
              <div class="col col-md-auto color-primary" >
                  Latest Posts
              </div>
          </div>

        {{ range first 1 .Site.RegularPages }}
          <div class="row justify-content-md-center">
              <div class="col col-md-auto color-primary" >
                  <a href="{{ .URL }}">
                      <span class="btn  text-p clickable-row" style="text-align:left; padding-left:6px; width:300px;">
                          {{ .Title }}
                      </span>
                  </a>
               </div>
              <div class="row justify-content-md-center color-grey" style="font-size: 1rem;">
                  <small> {{ .PublishDate }} </small>
              </div>
          </div>
        {{ end }}
        <div class="row justify-content-md-center">
            <div class="col col-md-auto color-primary" style="color:yellow" >
                <b>Press '?' for shortcuts and help</b>
            </div>
        </div>
    </div>
    <div height="300px" class="mt-5" style="height:300px; display:inline-block;"/>
    <div class="color-grey" >
        Andor loaded 0 packages across 0 modules in 0.13s
    </div>
</div>
{{ end }}
