{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center container">
    <div class="col-xs-12" style="height:150px;"></div>
    <div class="ascii">__.---.-..-----..--|  |.-----..----.
|  _  ||     ||  _  ||  _  ||   _|
|___._||__|__||_____||_____||__|
    </div>
    <h3 class="title">{{ .Site.Title }}</h3>
    <!-- <h1 class="title">{{ .Site.Title }}</h1> -->
    <div class="container">
        {{ range .Site.Menus.main }}
        <div class="row justify-content-md-center">
            <div class="col col-md-auto color-primary" >
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ if .Pre }}
                    {{ $text := print .Name | safeHTML }}
                <a href="{{ .URL }}"><span class="btn  text-p clickable-row" style="text-align:left; padding-left:6px; width:300px;"> {{ $text }} </span></a>
                {{ end }}
              </div>
          </div>
        {{ end }}
    </div>
    <div height="300px" style="height:300px; display:inline-block;"/>
    <div class="color-grey" >
        Andor loaded 0 packages across 0 modules in 0.13s
    </div>
</div>
{{ end }}
